<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="mod1test2" frontName="mod1test2">
            <module name="Mod1_Test2" />
        </route>
    </router>
</config>
